<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Universa.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Universa.Desktop.Properties.Settings>
            <setting name="CurrentTheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="WrapLongText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubsonicUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="SubsonicUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SubsonicPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SubsonicNavigationOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="CachedArtists" serializeAs="String">
                <value />
            </setting>
            <setting name="CachedAlbums" serializeAs="String">
                <value />
            </setting>
            <setting name="CachedPlaylists" serializeAs="String">
                <value />
            </setting>
            <setting name="JellyfinUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="JellyfinUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="JellyfinPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="JellyfinAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="JellyfinNavigationOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="CachedJellyfinLibraries" serializeAs="String">
                <value />
            </setting>
            <setting name="CachedJellyfinItems" serializeAs="String">
                <value />
            </setting>
            <setting name="MatrixUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="MatrixUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MatrixPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MatrixAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AnthropicApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="OllamaUrl" serializeAs="String">
                <value>http://localhost:11434</value>
            </setting>
            <setting name="OllamaModel" serializeAs="String">
                <value>llama2</value>
            </setting>
            <setting name="EnableOpenAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAnthropic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableOllama" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LightModePlayingColor" serializeAs="String">
                <value>#4CAF50</value>
            </setting>
            <setting name="LightModePausedColor" serializeAs="String">
                <value>#9E9E9E</value>
            </setting>
            <setting name="LightModePlayingTrackColor" serializeAs="String">
                <value>#E3F2FD</value>
            </setting>
            <setting name="LightModeMediaControlsColor" serializeAs="String">
                <value>#FFF0F0F0</value>
            </setting>
            <setting name="LightModeTextColor" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="LightModeForwardReverseColor" serializeAs="String">
                <value>#4CAF50</value>
            </setting>
            <setting name="LightModeShuffleColor" serializeAs="String">
                <value>#4CAF50</value>
            </setting>
            <setting name="LightModeActiveTabColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="LightModeInactiveTabColor" serializeAs="String">
                <value>#FFF0F0F0</value>
            </setting>
            <setting name="DarkModePlayingColor" serializeAs="String">
                <value>#81C784</value>
            </setting>
            <setting name="DarkModePausedColor" serializeAs="String">
                <value>#757575</value>
            </setting>
            <setting name="DarkModePlayingTrackColor" serializeAs="String">
                <value>#1A3B5C</value>
            </setting>
            <setting name="DarkModeMediaControlsColor" serializeAs="String">
                <value>#FF303030</value>
            </setting>
            <setting name="DarkModeTextColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="DarkModeForwardReverseColor" serializeAs="String">
                <value>#81C784</value>
            </setting>
            <setting name="DarkModeShuffleColor" serializeAs="String">
                <value>#81C784</value>
            </setting>
            <setting name="DarkModeActiveTabColor" serializeAs="String">
                <value>#FF424242</value>
            </setting>
            <setting name="DarkModeInactiveTabColor" serializeAs="String">
                <value>#FF303030</value>
            </setting>
            <setting name="OpenTabs" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="LastVolume" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="UseBetaChains" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsLibraryExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsChatExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MatrixServerUrl" serializeAs="String">
                <value></value>
            </setting>
            <setting name="MatrixServiceName" serializeAs="String">
                <value></value>
            </setting>
        </Universa.Desktop.Properties.Settings>
    </userSettings>
</configuration>